# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL="postgresql://[USER]:[PASSWORD]@[HOST]:[PORT]/[DATABASE]?pgbouncer=true"

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL="postgresql://[USER]:[PASSWORD]@[HOST]:[PORT]/[DATABASE]"

# login
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="masukkan_rahasia_acak_anda_di_sini"

# payment gateway sandbox
# IPAYMU_VA="masukkan_nomor_va_sandbox_anda"          
# IPAYMU_API_KEY="masukkan_api_key_sandbox_anda"
# IPAYMU_MODE="sandbox"

# payment gateway production
IPAYMU_VA="masukkan_nomor_va_production_anda"          
IPAYMU_API_KEY="masukkan_api_key_production_anda"
IPAYMU_MODE="production"
